# App
webpack/public/

# IDEs & OS
.vscode/*
!.vscode/extensions.json
jsconfig.json
.git
.idea
.DS_Store

# Environment
reports/
.tmp
local.log

# NPM
node_modules

# Build assets
/dist

# Tests
/tests/__snapshots__

package-lock.json
